*{
    margin: 0px;
    padding: 0px;
}

#background{
    background-color: #eaeaea;
    margin: 00px auto;
    width: 700px;
}

#main_content{
    background-color: #4f2238;
    width: 700px;
    /*height: 1200px;*/
    display: inline-block;
    padding-bottom: 10px;

}

.pageHeader{
    display: inline-block;
    width: 100%;
    margin: 10px auto;
}

.pageFooter{
    text-align: center;
}

.name{
    width: 300px;
    display: inline-block;
    margin-left: 20px;
}

.slogan{
    width: 360px;
    display: inline-block;
    margin-right: 0px;
    margin-left: auto;
    text-align: right;
}

.topRow{
    margin: 0px auto;
}

#myPhoto{
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 20px;
    background-color: #bcbcbc;
    padding: 5px;
    vertical-align: top;
}

.header{
    display: inline-block;
    width:192px;
    margin:0px;
    height:25px;
    background-color: gray;
    text-align: left;
    color: white;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 14pt;
}

.row{
    display: inline-block;
    width: 290px;
    margin-top: 00px;
    vertical-align: top;
}

#aboutMe{
    display: inline-block;
    height: 200px;
    width: 300px;
    vertical-align: top;
    background-color: white;
    font-size: 8pt;
    margin: 20px;
    padding-bottom: 10px;
    /*margin-top: 0px;*/
}

.projects{
    display: inline-block;
    width:202px;
    height: 400px;
    background-color: white;
    margin-left: 20px;
    vertical-align: top;
}

.techs{
    display: inline-block;
    width:202px;
    /*height: 200px;*/
    background-color: white;
    margin-left: 20px;
    vertical-align: top;
}

.linkDiv{
    display: inline-block;
    background-color: green;
    color: white;
    margin-top: 10px;
    font-size: 8pt;
    text-align: center;
}

.proImgs{
    width: 202px;
    height: auto;
}

.techImgs{
    width: 25px;
    height: auto;
    margin-top: 8px;
    margin-bottom: 0px;
    padding-left: 9px;
}

.summary{
    font-size: 12px;
}
